@import "../../styles.scss";

//*************************** Clases
.m-y-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.m-x-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.m-l {
    margin-left: auto !important;
}

.m-r {
    margin-right: auto !important;
}

// Home
.content-data {
  height: 100vh;
    .text{
      padding: 3%;
      .subtitle{
          color:silver;
          text-align: justify;
      }
    }
    .img-background {
        img {
            width: 100%;
        }
    }
    .login-btn{
      background-color: $colorPrincipal;
      color: white;
      padding: 2% 5% 2% 5%;
      border-style: none;
      &:hover {
        background-color: #2f78ff;
      }
    }
}

// Content 1
.content-1 {
    min-height: 100vh;
    padding: 4%;

    .text {
        //padding-top: 5%;
    }

    .card-content {
      padding: 10%;
        .img {

            //background-color: $colorPrincipal;
            //width: 100%;
            img {
                width: 100%;
            }
        }

        .text {}
    }
}



.content-2 {

    min-height: 100vh;
    background-color: #ECF4FF;
    padding: 5%;

    .text {
        text-align: right;
    }

    .card-two-border {
        border: 3px solid white;
        height: 450px;
        width: 70%;
        margin-top: 3%;
        &:hover {
            border: 3px solid $colorPrincipal;
            hr.bold {
                background-color: $colorPrincipal;
            }

            hr.normal {
                background-color: $colorPrincipal;
            }
        }

        hr.bold {
            height: 10%;
            background-color: white;
            border-style: none;
        }

        hr.normal {
            height: 3%;
            background-color: white;
            border-style: none;
        }
    }
}

.footer{
  background-color: $colorPrincipal;
  height: 100px;
}
