<app-navbar></app-navbar>
<style scoped>
    /* 0 to 299 */
    @media (max-width: 992px) {
        .masthead {
            background: url('assets/img/background.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    /* 300 to X */
    @media (min-width: 992px) { /* or 301 if you want really the same as previously.  */
        .masthead {
            background: url('assets/img/background.png') no-repeat;
            background-size: 100%;
        }
    }
</style>


<div class="container-fluid">
  <div class="row content-data row-margin">
    <div class="col-md-4 text m-y-auto">
      <h1 class="title text-extra">Lorem ipsum Design</h1>
      <h6 class="subtitle text-semi">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua
      </h6>
      <button [routerLink]="['/login']"   class="login-btn">LOGIN</button>
    </div>
    <div class="col-md-8 masthead">
    </div>
  </div>
</div>

<div class="content-1">
  <div class="row">
    <div class="text col-md-3">
      <h1 class="text-extra">Content 1</h1>
      <h6 class="text-semi">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua
      </h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 m-l">
      <div class="card-content">
        <div class="img">
          <img src="assets/img/img.png" alt="" />
        </div>
        <div class="text">
          <h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-content">
        <div class="img">
          <img src="assets/img/img.png" alt="" />
        </div>
        <div class="text">
          <h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-content">
        <div class="img">
          <img src="assets/img/img.png" alt="" />
        </div>
        <div class="text">
          <h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-r">
      <div class="card-content">
        <div class="img">
          <img src="assets/img/img.png" alt="" />
        </div>
        <div class="text">
          <h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="content-2">
    <div class="row" style="background: url(assets/img/nubes.png) no-repeat center;">
        <div class="text offset-9 col-md-3">
          <h1 class="text-extra">Content 2</h1>
          <h6 class="text-semi">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua
          </h6>
        </div>
      </div>

  <div class="row">
    <div class="col-md-3 card-two-border m-r">
        <hr class="bold">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="bold">
    </div>
    <div class="col-md-3 card-two-border">
        <hr class="bold">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="bold">
    </div>
    <div class="col-md-3 card-two-border m-l">
        <hr class="bold">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="normal">
        <hr class="bold">
    </div>
  </div>

</div>

<div class="footer"> </div>
