<nav class="navbar navbar-overlay navbar-inverse">
  <form class="form-inline search-input my-3 my-lg-0">

  </form>
  <form class="form-inline my-2 my-lg-0">
      <a class="nav-link " >Content 1</a>
      <a class="nav-link " >Content 2</a>
      <a [routerLink]="['/login']"  class="nav-link login-link text-bold" >Login</a>
  </form>
</nav>
