<div class="login">
  <ul class="nav nav-bar-items flex-column">
    <li class="nav-item">
      <a class="nav-link"><img src="assets/img/Icon1.png" alt=""/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><img src="assets/img/Icon2.png" alt=""/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><img src="assets/img/Icon3.png" alt=""/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><img src="assets/img/Icon4.png" alt=""/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><img src="assets/img/Icon5.png" alt=""/></a>
    </li>
  </ul>

  <div class="container-fluid content-login">
    <div class="row">
      <div class="col-md-1">
        <img src="assets/img/Venta.png" class="img-venta" />
      </div>
      <div class="col-md-10"><h4 class="n-s-title">New Sale</h4></div>
    </div>
    <!-- Document -->
    <div class="row">
      <div class="col-md-11">
        <h4 class="n-s-title">Document</h4>
      </div>
      <div class="col-md-11">
          <div class="form-row">
            <div class="col-md-4 ">
              <label for="validationDefault01">Client</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 ">
              <label for="validationDefault02">Branch Office</label>
            </div>
            <div class="col-md-3 ">
              <label for="validationDefaultUsername">Currency</label>
              <div class="input-group"></div>
            </div>
          </div>
      </div>
      <div class="col-md-11">
          <div  [formGroup]="Cliente" class="form-row">
            <div class="col-md-4 mb-3">
                <select  formControlName="name" class="form-control">
                    <option disabled ></option>
                    <option  *ngFor="let client of clients">{{client.name}}</option>
                </select>
            </div>
            <div class="col-md-1">
              <button class="btn-ui">+</button>
            </div>
            <div class="col-md-4 mb-3">
                <select  [disabled]="Cliente.invalid" [(ngModel)]="countrySelect" (change)="getCurrency($event.target.value)" [ngModelOptions]="{standalone: true}" class="form-control">
                    <option disabled ></option>
                    <option  [value]="pais  | json"  *ngFor="let pais of countries"  > {{pais.name}} </option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
              <div class="input-group">
                <input disabled [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="currencie" class="form-control" />
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Details -->
    <div class="row">
      <div class="col-md-11">
        <h4 class="n-s-title">Details</h4>
      </div>
      <div class="col-md-11">
          <div class="form-row">
            <div class="col-md-5 ">
              <label for="validationDefault01">Name</label>
            </div>
            <div class="col-md-2 ">
              <label for="validationDefault02">Quantity</label>
            </div>
            <div class="col-md-2 ">
              <label for="validationDefaultUsername">Price</label>
            </div>
            <div class="col-md-2 ">
              <label for="validationDefaultUsername">Subtotal</label>
            </div>
            <div class="col-md-1"></div>
          </div>
      </div>
      <div class="col-md-11">
          <div class="form-row" *ngFor="let item of details; let i = index">
            <div class="col-md-5 mb-3">
                <select [disabled]="!currencie"  [(ngModel)]="item.name" class="form-control">
                    <option disabled ></option>
                    <option *ngFor="let producto of productos">{{producto.Title}}</option>
                </select>
            </div>
            <div class="col-md-2 mb-3">
              <input [disabled]="!currencie" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" type="text" (keyup)="Subtotal(item)" (keyup)="totals()" [(ngModel)]="item.quantity" class="form-control" />
            </div>
            <div class="col-md-2 mb-3">
              <div class="input-group">
                <input [disabled]="!currencie" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" type="text" (keyup)="Subtotal(item)" (keyup)="totals()" [(ngModel)]="item.price" class="form-control" />
              </div>
            </div>
            <div class="col-md-2 mb-3">
              <div class="input-group">
                <input disabled type="text" [(ngModel)]="item.subtotal" class="form-control" />
              </div>
            </div>
            <div  class="col-md-1 mb-3">
              <button (click)="removeDetails(i)" class="btn-delete">X</button>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
          <button (click)="addDetails()" class="btn-ui">Add</button>
      </div>
    </div>
   <!-- Total -->
    <div class="row">
      <div class="col-md-11">
          <div class="offset-9 col-md-2">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="validationDefault01">Total</label>
                </div>
              </div>
          </div>
          <div class="offset-9 col-md-3">
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <input disabled type="text" [(ngModel)]="total" class="form-control" />
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-11">
        <h4 class="n-s-title"></h4>
      </div>
    </div>
    <div class="row">
      <div class="offset-9 col-md-2">
        <button (click)="save()" class="btn-ui">Save</button>
      </div>
    </div>
  </div>
</div>
