@import "../../styles.scss";


.nav-item{

  .nav-link{
    text-align: center;
    &:hover{
      background-color: #147CC9;
    }
  }
}

.btn-ui{
  background-color: $colorPrincipal;
  color: #fff;
  padding: 2% 20% 2% 20%;
  border-style: none;
  height: 35px;
    &:hover {
      background-color: #2f78ff;
    }
}
.btn-delete{
  background-color: $colorPrincipal;
  color: #fff;
  padding: 2% 20% 2% 20%;
  border-style: none;
  width: 100%;
  height: 35px;
  &:hover {
    background-color: #2f78ff;
  }
}
.login{
  background-color: #F6F7FA;
}
.nav-bar-items{
  background-color: $colorPrincipal;
  color: white;
  width: 70px;
  height: 100vh;
  position: absolute;
}
.content-login{

  padding-left: 150px;
  min-height: calc(100vh);
  .row:first-child{
    padding-top: 30px
  }
  .img-venta{
    width: 80%;
  }
  .n-s-title{
    border-bottom: 1px solid grey;
  }
}
