/* You can add global styles to this file, and also import other style files */
$colorPrincipal : #279AFF;
@import '~@covalent/core/theming/all-theme';
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700,800&display=swap');
.form-control{
  border: 1px solid transparent !important;
}
body{
  font-family: 'Open Sans', sans-serif !important;
}
.text-bold{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700;
}
.text-semi{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}
.text-extra{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 800;
}

@include mat-core();

$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-blue, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);
$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

